/.vsconfig
/.vs
/Assembly-CSharp.csproj
/Assembly-CSharp.Player.csproj
/Assembly-CSharp-Editor.csproj
/KartGame.AI.csproj
/KartGame.AI.Editor.csproj
/KartGame.AI.Player.csproj
/KartGame.csproj
/KartGame.Editor.csproj
/KartGame.Player.csproj
/Library/*
/Logs/*
/obj
/RebuildOfTeddygelion.sln
/Temp/*
/Unity.*
/UnityEditor.*
/UserSettings/EditorUserSettings.asset
/UserSettings/HDRPUserSettings.asset
/UserSettings/Search.settings
/Library/BurstCache/JIT/BurstCacheManifest.cm
/Library/expandedItems
/UserSettings/Layouts/default-2022.dwlt
/UnityEngine.TestRunner.csproj
/UnityEngine.TestRunner.Player.csproj
/UnityEngine.UI.csproj
/UnityEngine.UI.Player.csproj
